$error: red;

$lightGray: #2d545e;
$gray: #12343b; 
$lightBlue: #c89666; 
$blue: #e1b382;
$red: #f74464;

$borderColor: rgba(178, 199, 220, .2);

$tableRow1: rgba(178, 199, 220, .2);
$tableRow2: rgba(199, 221, 255, .2);

$tableRow1Hover: rgba(178, 199, 220, .4);
$tableRow2Hover: rgba(178, 199, 220, .4);

$break-sm: 768px;
$break-md: 992px;
$break-lg: 1220px;
$break-xl: 1660px;